$hover-color: rgb(236, 94, 28);

table.parent-items {
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  table.child-items {
    border-radius: 5px;
    transition: 0.4s;
    z-index: 200;
    top: 30%;
    right: -101%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    display: none;
    &:hover {
      display: block;
    }
  }
  & > tbody {
    & > tr {
      .nav-link {
        color: rgb(68, 64, 64);
        padding: 4px 2px;
        &:first-child {
          padding-left: 10px;
        }
      }
      &:hover {
        table.child-items {
          display: block;
        
          tr {
            a {
              font-size: small;
            }
            &:hover {
              a {
                color: $hover-color;
                opacity: 0.8;
              }
            }
          }
        }
        & > td {
          .nav-link {
            color: $hover-color;
            transform: translateX(3px);
            transition: 0.4s;
          }
        }
      }
    }
  }
}
