body {
  background-image: url(https://id.unica.vn/images/bg-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  div.offset-3.col-6 {
    .w-100 {
      background-color: white;
      border-radius: 10px;
      box-shadow: 1px 1px gray;
      height: 600px;
      margin-top: 40px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    form {
      .form-control {
        border-radius: 30px;
        &:focus{
            border-color: hotpink;
        }
      }
    }
  }
}
