.header{
    /* height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d); */
}

.header_navbar{
    display: flex;
    justify-content: end;
}
.header_navbar-list{
    list-style-type: none;
    padding: 0;
    margin: 8px 0 0 0;
}

.header_navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-color);
    /* Bỏ gạch chân ở thẻ <a> */
    text-decoration: none;
    font-weight: 300;
}

/* Căn chỉnh icon cho đúng */
.header_navbar-item,
.header_navbar-item-link,
.header_navbar-icon-link{
    display: inline-flex;
}

/* Di chuột vào chữ mờ đi và đổi hình con trỏ chuột */
/* .header_navbar-item:hover,
.header_navbar-item-link:hover,
.header_navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
} */
.header_navbar-item-bold{
    font-weight: 400;
}

/* Tạo đường gạch dọc ở navbar */
.header_navbar-item--line::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid white;
    height: 12px;
    right: -9px;
    /* Chỉnh đường gạch cho chính giữa. ĐO theo tag <li> */
    top: 2px;
    /* transform: translateY(-50%); */
}

.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header_navbar-title-nopoiter{
    cursor: text;
    color: var(--white-color);
}

/* Header QR CODE */
.header_qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header_qr-img{
    width: 100%;
}

.header_qr-app{
    display: flex;
    justify-content: space-between;
    /* margin-right: 10px;
    margin-left: 10px; */
}

.header_qr_download{
    height: 16px;
}
.header_qr-link:nth-child(1){
    margin-left: 10px;
}

.header_qr-link:nth-child(2){
    margin-right: 10px;
}

/* Hover thoong Bao */
.header_navbar-item-showNotify:hover .header_notify {
    display: block;
}

.header_navbar-item-qr:hover .header_qr{
    display: block;
}

/* Notification */

.header_notify{
    position: absolute;
    top: 100%;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3d3d3;
    right: 0;
    cursor: default;
    /* Thêm animation */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease 0.2s;
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* Tạo mũi tên ở thông báo */
.header_notify::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header_notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header_notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    /* Chiều cao dòng bằng chiều cáo chứa nó */
    line-height: 40px;
}

.header_notify-list{
    padding: 0;
    list-style-type: none;
}
/* 
.header_nitify-item {
    margin-bottom: 10px;
} */

.header_nitify-item:hover {
    background-color: #f7f7f7;
}

.header_nitify-item--viewed{
    background-color: rgba(238, 77, 45, 0.09);
}

.header_notify-link{
    display: flex;
    padding-left: 12px;
    /* Xoá dấu gạch dưới thẻ <a> */
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    width: 100%;
}

.header_notify-img{
    width: 48px;
    /* Chỉnh ảnh khỏi bị méo, đúng tỉ lệ ảnh */
    object-fit: contain;
}

.header_notify-info {
    margin-left: 12px;
}

.header_notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 300;

}

.header_notify-descriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header_notify-footer {
    display: flex;
}

.header_notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0;
    margin: auto;
    font-weight: 400;
    text-align: center;
}

/* Authem modal */

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    /* Kích thước của con mà lớn hơn của cha thì ẩn phần hơn*/
    overflow: hidden;
}

.auth-form_container {
    padding: 0 32px;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form-heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form-switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

/* .auth-form_form{
    margin-top: 16px;

} */

.auth-form_input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form_input:focus {
    border-color: #777;
}

.auth-form_aside{
    margin-top: 20px;
}

.auth-form_policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form_policy-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form_controls{
    margin-top: 80px;
}

.auth-form_controls{
    display: flex;
    justify-content: flex-end;
}

.auth-form_control-back{
    margin-right: 8px;
}

.auth-form_socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form_socials-icon{
    font-size: 1.8rem;
}

.auth-form_social-fa{
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form_social-fa
.auth-form_socials-icon{
    color: var(--white-color);
}

.auth-form_socials-title{
    margin: 0 32px;
}

.auth-form_social-gg{
    background-color: var(--white-color);
    color: #666;
}

.auth-form_help{
    display: flex;
    justify-content: flex-end;
}

.auth-form_help-link{
    /* Loại bỏ dấu gạch chân */
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form_help-separate{
    margin: 0 16px;
    height:  16px;
    border-left: 1px solid var(--border-color);
}

.auth-form_help-link-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    /* height: var(--header-search-height); */
    display: flex;
    align-items: center;
    padding: 8px;
}

.header-logo {
    width: 200px;
}

.header-logo-img{
    width: 150px;
    /* color: var(--white-color); */
    /* //background-color: white; */
}

.header-search{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    padding: 8px;
}

.header-cart {
    width: 150px;
    text-align: center;
}

.header-cart-icon {
    font-size: 2.4rem;
    color: var(--text-color);
}

.header-search-input {
    flex: 1;
    /* width: 100%; */
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;

}

.header-search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

.header-search-select-label
{
    font-size: 1.4rem;
    color:  var(--text-color);
}
.header-search-select-icon {
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    
}

.header-search-btn{
    background-color: var(--white-color);
    border: none;
    height: 34px;
    border-radius: 25px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header-search-btn:hover {
    cursor: pointer;
    background-color: #fb6435;
}

.header-search-btn-icon{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-search-select{
    position: relative;
    cursor: pointer;

}

.header-search-select:hover .header-search-option {
    display: block
}
.header-search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 2px #ccc;
    margin-top: 15px;
    display: none;
}

.header-search-option::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 27px;
    top: -20px;
}

.header-search-option-item{
  background-color: var(--text-color);
  border-radius: 3px;
  padding: 8px 8px;
}

.header-search-option-item:hover {
    background-color: #ebe8e8;
    cursor: pointer;
    display: block;
}
.header-search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header-search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header-search-option-item-active i {
    display: inline-block;
}

.app_container{
    background-color: #f5f5f5;
}

.grid__row{
    padding-top: 20px;
}

.category {
    border-radius: 5px;
    background-color: var(--white-color);
}

.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
}


.category-item-active .category-item_link{
    color: var(--primary-color);
}

.category-item-active .category-item_link::before{
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item_link{
    position: relative;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
    display: block;
    transition: right linear 0.1s;
    right: 0;;
}

.category-item_link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home img */

.grid__column-8 .img-home{
    justify-content: center;
    align-items: center;
}

.price-a{
    font-size: 1.4rem;
    font-weight: 5px;
}

.Top_pay{
    margin: 15px 0;
}