.col-2 {
  div {
      cursor: pointer;
      height: 80px;
    background-color: white;
    i {
      font-size: 30px;
      color: rgb(131, 121, 121);
    }
    p {
      font-size: 13px;
      color: gray;
    }
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
